body{
    background-color: pink;
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
#contenedor{
    width: 70%;
    margin: 0 auto;
    border: 2px solid black ;
    margin-top: 70px;
    background-color: rgb(236, 191, 158);
}
#titulo{
    color: rgb(0, 0, 0);
}
#p1{
    color:white;
}
#p2{
    color: teal;
}
#header{
    background-color: cyan;
}
#ncabecera{
    color: brown;
}